@use '../../styles/mixins' as *;

.toggleButton {
  --button-color: var(--color-quest);
  --button-color-light: var(--color-quest-light);
  --button-color-dark: var(--color-quest-dark);
}

.buttonIcon {
  width: 18px;
  height: 18px;
  color: var(--color-quest-light);
}

.buttonText {
  @media (max-width: 480px) {
    display: none;
  }
}
